{% extends "base.html" %}
{% block content %}
<div class="page-unavailable">
  <i class="fa-solid fa-triangle-exclamation page-unavailable-icon"></i>
  <h1 class="page-unavailable-title">Pagina Indisponivel</h1>
  <p class="page-unavailable-msg">
    {{ msg }}
    {% if request.user.is_authenticated %}
      {% if payment %}
        <a href="{% url 'admin_portal:home' %}?tab=plano" class="btn-admin">
          <i class="fa-solid fa-credit-card"></i>Fazer pagamento
        </a>
      {% endif %}
      {% if config_incomplete %}
        <a href="{% url 'admin_portal:home' %}?tab=estabelecimento" class="btn-admin">
          <i class="fa-solid fa-store"></i>Concluir configuracao
        </a>
      {% endif %}
    {% endif %}
  </p>
</div>
{% endblock %}
