{% extends "base.html" %}
{% block content %}
<div class="page-unavailable">
  <i class="fa-solid fa-triangle-exclamation page-unavailable-icon"></i>
  <h1 class="page-unavailable-title">Página Indisponível</h1>
  <p class="page-unavailable-msg">
    {{ msg }}
    {% if user %}
      {% if payment %}
        <a href="{% url 'admin_portal:home' %}" class="btn-admin">
          <i class="fa-solid"></i>Fazer pagamento
        </a>
      {% endif %}
      {% if incomplete %}
        <a href="{% url 'admin_portal:home' %}?tab=estabelecimento" class="btn-admin">
          <i class="fa-solid"></i>Concluir configuração
        </a>
      {% endif %}
    {% endif %}
  </p>
</div>
{% endblock %}
